################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mylittle-project/obj/Debug/net9.0/mylittle-project.AssemblyInfoInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.assets.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.AssemblyReference.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.CoreCompileInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project/obj/Debug/net9.0/mylittle-project.sourcelink.json
/mylittle-project/obj/Debug/net9.0/rpswa.dswa.cache.json
/mylittle-project/obj/mylittle-project.csproj.nuget.dgspec.json
/mylittle-project/obj/project.assets.json
/mylittle-project/obj/project.nuget.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.AssemblyInfoInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.assets.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.AssemblyReference.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.CoreCompileInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.sourcelink.json
/mylittle-project.Application/obj/mylittle-project.Application.csproj.nuget.dgspec.json
/mylittle-project.Application/obj/project.assets.json
/mylittle-project.Application/obj/project.nuget.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfoInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.assets.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.CoreCompileInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.sourcelink.json
/mylittle-project.Domain/obj/mylittle-project.Domain.csproj.nuget.dgspec.json
/mylittle-project.Domain/obj/project.assets.json
/mylittle-project.Domain/obj/project.nuget.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfoInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.assets.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.AssemblyReference.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.CoreCompileInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.sourcelink.json
/mylittle-project.infrastructure/obj/mylittle-project.infrastructure.csproj.nuget.dgspec.json
/mylittle-project.infrastructure/obj/project.assets.json
/mylittle-project.infrastructure/obj/project.nuget.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.AssemblyInfo.cs
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.AssemblyInfo.cs
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfo.cs
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfo.cs
/mylittle-project/obj/Debug/net9.0/mylittle-project.AssemblyInfoInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.CoreCompileInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.sourcelink.json
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.sourcelink.json
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.CoreCompileInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.sourcelink.json
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.CoreCompileInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.AssemblyInfoInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfoInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.CoreCompileInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.sourcelink.json
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfoInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.AssemblyInfoInputs.cache
/mylittle-project.infrastructure/obj/project.nuget.cache
/mylittle-project.infrastructure/obj/project.assets.json
/mylittle-project.infrastructure/obj/mylittle-project.infrastructure.csproj.nuget.g.props
/mylittle-project/obj/Debug/net9.0/ref/mylittle-project.dll
/mylittle-project/obj/Debug/net9.0/refint/mylittle-project.dll
/mylittle-project/obj/Debug/net9.0/apphost.exe
/mylittle-project/obj/Debug/net9.0/mylittle-project.AssemblyInfoInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.assets.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.AssemblyReference.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.CoreCompileInputs.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.csproj.FileListAbsolute.txt
/mylittle-project.infrastructure/obj/mylittle-project.infrastructure.csproj.nuget.dgspec.json
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project.infrastructure/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.infrastructure/obj/Debug/net9.0/ref/mylittle-project.infrastructure.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/refint/mylittle-project.infrastructure.dll
/mylittle-project.Domain/obj/project.nuget.cache
/mylittle-project.Domain/obj/project.assets.json
/mylittle-project.Domain/obj/mylittle-project.Domain.csproj.nuget.dgspec.json
/mylittle-project.Domain/obj/mylittle-project.Domain.csproj.nuget.g.props
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.pdb
*.json
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.genruntimeconfig.cache
*.txt
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.CoreCompileInputs.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.assets.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.csproj.AssemblyReference.cache
/mylittle-project.Domain/obj/Debug/net9.0/mylittle-project.Domain.AssemblyInfoInputs.cache
/mylittle-project.infrastructure/Data/DealerDbContext.cs
/mylittle-project.Domain/obj/Debug/net9.0/refint/mylittle-project.Domain.dll
/mylittle-project.Domain/obj/Debug/net9.0/ref/mylittle-project.Domain.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.AssemblyReference.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Domain/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Domain/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.dll
/mylittle-project.Application/obj/project.nuget.cache
/mylittle-project.Application/obj/project.assets.json
/mylittle-project.Application/obj/mylittle-project.Application.csproj.nuget.g.props
/mylittle-project.Domain/Entities/BrandingText.cs
/mylittle-project.Application/obj/mylittle-project.Application.csproj.nuget.dgspec.json
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.FileListAbsolute.txt
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.AssemblyInfoInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.assets.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.AssemblyReference.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.csproj.CoreCompileInputs.cache
/mylittle-project.Application/obj/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.Application/obj/Debug/net9.0/refint/mylittle-project.Application.dll
*.dll
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.assets.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.CoreCompileInputs.cache
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.csproj.FileListAbsolute.txt
/mylittle-project.infrastructure/obj/Debug/net9.0/mylittle-project.infrastructure.genruntimeconfig.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.GeneratedMSBuildEditorConfig.editorconfig
/mylittle-project/obj/Debug/net9.0/mylittle-project.genruntimeconfig.cache
/mylittle-project/obj/Debug/net9.0/mylittle-project.pdb
/mylittle-project/obj/mylittle-project.csproj.nuget.g.props
/mylittle-project/obj/project.nuget.cache
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Application.dll
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Domain.dll
/mylittle-project.Application/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project/bin/Debug/net9.0/appsettings.json
/mylittle-project/bin/Debug/net9.0/mylittle-project.Application.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.Domain.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.exe
/mylittle-project/bin/Debug/net9.0/mylittle-project.infrastructure.pdb
/mylittle-project/bin/Debug/net9.0/mylittle-project.pdb
/mylittle-project/obj/Debug/net9.0/ApiEndpoints.json
